// This is an example file, please adapt it to your resources.
// For more information see tool documentation and Nextflow documentation.


// CONTAINER SETTINGS:
singularity {
    enabled = true
    // cacheDir = ''            // to set a directory where to download the container file 
    autoMounts = true           // to automatically mount host paths in the executed container
}
//docker {
//    enabled = true
//}

// CLUSTER SETTINGS:
executor.name = ''  // e.g. sge

process {
//  Choose a container type (not needed if all dependencies are locally installed)
    container = 'docker://vibpsb/ksrates:latest'      // to build a Singularity container
//  container = 'vibpsb/ksrates:latest'               // to build a Docker container

    // Specify memory and number of threads for processes submitted to the cluster 
    // It is advised to provide higher computational power to wgdParalogs and wgdOrthologs 
    withName: 'wgdParalogs' {
        cpus =               // e.g. 8
        penv = ''            // e.g. 'serial'
        memory = ''          // e.g. '16GB'
        clusterOptions = ''  // e.g. '-l h_vmem=2G'
    }

    withName: 'wgdOrthologs' {
        cpus =               // e.g. 8
        penv = ''            // e.g. 'serial'
        memory = ''          // e.g. '16GB'
        clusterOptions = ''  // e.g. '-l h_vmem=2G'
    }

    withName: 'estimatePeak' {
        memory = ''          // e.g. '2GB'
        clusterOptions = ''  // e.g. '-l h_vmem=2G'
    }

    withName: 'paralogsAnalyses' {
        memory = ''          // e.g. '2GB'
        clusterOptions = ''  // e.g. '-l h_vmem=2G'
    }
    
    withName: 'plotOrthologDistrib' {
        memory = ''          // e.g. '2GB'
        clusterOptions = ''  // e.g. '-l h_vmem=2G'
    }
}


// OTHER SETTINGS:
// env.SOME_ENV_VARIABLE = ''
