// This is an example file, please adapt it to your resources.
// For more information see tool documentation and Nextflow documentation.


// PROFILES:
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = "-v $PWD:$PWD"
    }
    apptainer {
        apptainer.enabled = true
        // apptainer.cacheDir = ''            // to set a directory where to download the container file 
        apptainer.autoMounts = true           // to automatically mount host paths in the executed container
    }
}

// EXECUTOR SETTINGS:
executor {
    name = 'local'              // or e.g. 'sge' when using a computer cluster
    cpus = 3                    // to limit the CPU resources when using the 'local' executor
}

process {
    container = 'vibpsb/ksrates:latest'        // to use the ksrates container (not needed if all dependencies are locally installed)

    // Specify memory and number of threads for processes submitted to the cluster 
    // It is advised to provide higher computational power to wgdParalogs and wgdOrthologs 
    withName: 'wgdParalogs' {
        cpus = 1                   // e.g. 2
        // penv = ''               // e.g. 'serial'
        // memory = ''             // e.g. '16GB'
        // clusterOptions = ''     // e.g. '-l h_vmem=2G'
    }

    withName: 'wgdOrthologs' {
        cpus =  1                  // e.g. 2
        // penv = ''               // e.g. 'serial'
        // memory = ''             // e.g. '16GB'
        // clusterOptions = ''     // e.g. '-l h_vmem=2G'
    }

    // withName: 'estimatePeaks' {
    //     memory = ''             // e.g. '2GB'
    //     clusterOptions = ''     // e.g. '-l h_vmem=2G'
    // }

    // withName: 'paralogsAnalyses' {
    //     memory = ''             // e.g. '2GB'
    //     clusterOptions = ''     // e.g. '-l h_vmem=2G'
    // }
    
    // withName: 'plotOrthologDistrib' {
    //     memory = ''             // e.g. '2GB'
    //     clusterOptions = ''     // e.g. '-l h_vmem=2G'
    // }
}


// OTHER SETTINGS:
// env.SOME_ENV_VARIABLE = ''
