// This is just a template, please adapt to your resources and requirements.
// For more information see ksrates and Nextflow documentations.


// EXECUTOR SETTINGS:
executor {
    name = ''                   // e.g. 'sge', 'local'
    // queueSize =              // e.g. 4, to limit the number of processes handled in parallel
    // cpus =                   // e.g. 3, to limit the CPU resources when using the 'local' executor
}

process {
    
    // Specify memory, number of threads and modules to be loaded for processes submitted to the cluster 
    // It is advised to provide higher computational power to wgdParalogs and wgdOrthologs 
    withName: 'wgdParalogs' {
        cpus =                  // e.g. 8 on a cluster or 2 on local computer
        penv = ''               // e.g. 'serial'
        memory = ''             // e.g. '16GB'
        clusterOptions = ''     // e.g. '-l h_vmem=2G'
        beforeScript = ''       // e.g. 'module load python paml muscle fasttree blast mcl i-adhore'
    }
    
    withName: 'wgdOrthologs' {
        cpus =                  // e.g. 8 on a cluster or 2 on local computer
        penv = ''               // e.g. 'serial'
        memory = ''             // e.g. '16GB'
        clusterOptions = ''     // e.g. '-l h_vmem=2G'
        beforeScript =  ''      // e.g. 'module load python paml muscle blast'
    }
    
    withName: 'estimatePeak' {
        memory = ''             // e.g. '2GB'
        clusterOptions = ''     // e.g. '-l h_vmem=2G'
        beforeScript = ''       // e.g. 'module load python'
    }
    
    withName: 'paralogsAnalyses' {
        memory = ''             // e.g. '8GB'
        clusterOptions = ''     // e.g. '-l h_vmem=8G'
        beforeScript = ''       // e.g. 'module load python'
    }
    
    withName: 'plotOrthologDistrib' {
        memory = ''             // e.g. '2GB'
        clusterOptions = ''     // e.g. '-l h_vmem=2G'
        beforeScript = ''       // e.g. 'module load python'
    }
}


// OTHER SETTINGS:
// env.SOME_ENV_VARIABLE = ''
