// This is just a template, please adapt to your resources and requirements.
// For more information see ksrates and Nextflow documentations.


// CONTAINER SETTINGS:
docker {
    enabled = true
    // envWhitelist = 'NSLOTS'  // to define the number of cores when running the container on a SGE cluster
}

// CLUSTER SETTINGS:
executor.name = ''  // set cluster type, e.g. sge

process {

    container = 'vibpsb/ksrates:latest'

    // Specify memory and number of threads for processes submitted to the cluster 
    // It is advised to provide higher computational power to wgdParalogs and wgdOrthologs 
    withName: 'wgdParalogs' {
        clusterOptions = ''  // e.g. '-pe serial 10 -l h_vmem=2G'
    }
    
    withName: 'wgdOrthologs' {
        clusterOptions = ''  // e.g. '-pe serial 10 -l h_vmem=2G'
    }
    
    withName: 'estimatePeak' {
        clusterOptions = ''  // e.g. '-l h_vmem=2G'
    }
    
    withName: 'paralogsAnalyses' {
        clusterOptions = ''  // e.g. '-l h_vmem=2G'
    }
    
    withName: 'plotOrthologDistrib' {
        clusterOptions = ''  // e.g. '-l h_vmem=2G'
    }
}


// OTHER SETTINGS:
// env.SOME_ENV_VARIABLE = ''

// params {
//     nThreadsParalogs = 
//     nThreadsOrthologs = 
// }
